html {
  box-sizing: border-box;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* Body Flexbox */
body {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 810px;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  padding: 30px 95px;
  background-image: url(img/menu-bar.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

.menu-bar-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 220px;
  flex: 1;
}

/* Nav styles */
nav {
  display: flex;
  gap: 950px;
}

.left-nav {
  display: flex;
  gap: 40px;
}
.right-nav {
  display: flex;
  gap: 40px;
}

/* Nav link styles */
ul li {
  display: inline;
  list-style-type: none;
}

a {
  text-decoration: none;
}
